@import '../../assets/styles/variables';
@import '../../assets/styles/global';
@import '../../assets/styles/mixins';

.cartSection{
    min-height: 100vh;
    width: 100%;
    padding: 5rem 2rem;
    @include flex(row, space-between, flex-start);
}

.cartSection_products{
    padding: 1rem;
    width: 100%;
    flex: 3;
    @include flex(column,space-between, center);
    gap: 1rem;
}

.cartSection_price{
    width: 100%;
    flex: 1;
    @include flex(column, flex-start, stretch);
    background: $grey-light;
}