@import '../../assets/styles/variables';
@import '../../assets/styles/global';
@import '../../assets/styles/mixins';


nav{
    min-height: 10vh;
    width: 100%;
    background: $black;
    color: $white;
    padding: 0 3rem;
    @include flex(row, space-between, center);
    a{
        flex: 1;
    }
}

.navLinks{
    flex: 1;
    &.focus{
        flex: 2;
    }
    @include flex(row, flex-end, center);
    a{
        color: $white;
        transition: $transition;
        &:hover{
            opacity: 0.5;
        }
        svg{
            font-size: 20px;
        }
    }
    li{
        padding: 0 1rem;
    }
}

.nav_absolute{
    position: relative;
    span{
        font-size: 10px;
        position: absolute;
        top: -30%;
        left: 100%;
    }
}

.searchSection{
    input{
        outline: none;
        border: none;
        border-bottom: 1px solid $white;
        background: $black;
        color: $white;
        font-size: $h4;
        color: $white;
    }
}

@media only screen and (max-width: 768px){
    nav{
        padding: 0 1rem;
        @include flex(row, space-between, center);
    }
}