@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import '../../assets/styles/global';

.productItem_section{
    width: 100%;
    height: 100%;
    @include flex(column, space-between, flex-start);
    img{
        height: 80%;
        width: 100%;
        object-fit: cover;
    }
    .productItem_sizes{
        @include flex(row, flex-start, center);
        li{
            padding-right: 1rem;
            font-weight: 800;
        }
    }
}