@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import '../../assets/styles/global';

.bannerSection{
    height: 70vh;
    width: 100%;
    padding: 0 0 0 5rem;
    background: linear-gradient(90deg, #F6FCFA 0%, #F6F8FC 44.79%, #F5F7FA 74.48%, rgba(243, 239, 238, 0) 100%); 
    @include flex(row, center, center);
}

.bannerSection_left{
    flex: 1;
    @include flex(column, center, flex-start);
    p{
        max-width: 80%;
        margin: 1rem 0;
    }
}

.btn{
    padding: 1rem 2rem;
    border: 2px solid $black;
    background: $white;
    color: $black;
    cursor: pointer;
    transition: $transition;
    &:hover{
        background: $black;
        color: $white;
    }
}

.bannerSection_right{
    flex: 1;
    height: 100%;
    img{
        @include imgSizing(100%, 100%, cover);
    }
}

@media only screen and (max-width: 768px){
    .bannerSection{
        min-height: 100vh;
        padding: 0;
        @include flex(column, center, center);
    }

    .bannerSection_left{
        order: 2;
        align-items: center;
    }
}