@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/global';

.btn_filter{
    margin: 1rem 0;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid $black;
    background: $white;
    color: $black;
    transition: $transition;
    cursor: pointer;
    &:hover{
        color: $white;
        background: $black;
    }
    &.active{
        border: 2px solid $black;
        background: $black;
        color: $white;
        &:hover{
            color: $black;
            background: $white;
        }
    }
}